[Unit]
Description=Backscatter AnyIP listener
After=network.target

[Service]
Type=simple
ExecStart=/opt/backscatter/sbin/anyip-listener.py

Restart=on-failure
RestartSec=2s

TimeoutStopSec=30s
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
